PORT=5000
DATABASE_URL="file:./contestos.db"
JWT_SECRET="contestos-super-secret-jwt-key-2026"
REDIS_URL="redis://localhost:6379"
FRONTEND_URL="http://localhost:5173"
PISTON_API_URL="https://emkc.org/api/v2/piston"
